body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #EEEEEE;
  line-height: 1.6;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Fontin';
	color: #111;
	line-height: 24px;
}

.logo {
	max-width: 40px;
}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline;
  border-right: 1px solid #bbb;
	float: left;
}

li:last-child {
  border-right: none;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.active {
  background-color: #0433AD;
}

.featurette-divider {
  margin: 5rem 0;
}

#page-title {
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 2em;
}

h1.text-left {
  text-align: left;
  margin-bottom: 0.2em;
}

input[type=text], input[type=password], input[type=file], button {
    text-align:center;
    display: block;
    margin: auto;
}

.signup-form {
    text-align:center;
    display: block;
    margin: auto;
}

button.hide {
  display:none;
}

button.show {
  display: inline;
}
