
/* GENERAL ON */
body {
  padding-bottom: 3rem;
  background-color: #EEEEEE;
  line-height: 1.6;
  font-size: 18px;
}

h1 {
    display: block;
    text-align: center;
    font-size: 4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Fontin';
	color: #111;
	line-height: 24px;
}


hr.featurette-divider {
  margin: 3rem 0;
}

h1.text-left {
  text-align: left;
  margin-bottom: 0.2em;
}
/* GENERAL OFF */

/* NAVIGATION ON */
nav .logo {
	max-width: 40px;
}

 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  display: inline;
  border-right: 1px solid #333;
	float: left;
}

li:last-child {
  border-right: none;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
/* NAVIGATION OFF */

input[type=text], input[type=password] {
    text-align:center;
    display: block;
    margin: auto;
}

/* LOWER PAGE PAGINATION INFORMATION */
#pagination {
  margin: auto;
  text-align: center;
}

/* DELETE PAGES (user's account and user's gallery)*/
.warning {
  color:red;
}

.signup-form {
    text-align:center;
    display: block;
    margin: auto;
}

/* SAVE PICTURE BUTTON */
button.hide {
  display:none;
}

button.show {
  display: inline;
}

/* GALLERY PAGES CSS */

ul.my_gallery {
  align-content: center;
}
